.topic {
    width: 383.41px;
    text-align: center;
    color:#0B132A;
    font-size: 35px;
    font-weight: 500;
}

.ordinary-text {
    width: 555px;
    text-align: center;
    margin-top: 20px;
    line-height: 30px;
}