.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
    margin: 2.5rem 0;
    display: flex;
    justify-content: center;
}

.intro-info {
    width: 555px;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.intro-info h1{
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
    color: #0B132A;
}

.bold {
    font-weight: 700;
}

.intro-info p {
    line-height: 30px;
    margin-top: 0.7em;
}


.statistics {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    max-width: 1140px;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 40px 100px rgba(0, 0, 0, 0.1);
}

.statistic-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 33.33%;
}

.statistic-item__icon {
    margin: 0.5rem;
}

.statistic-item__text {
    font-size: 20px;
}

.statistic-item__text b {
    font-weight: 700; 
    font-stretch: ultra-expanded;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .statistics {
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
    }
    
    .statistic-item {
        margin: 1rem 0 1rem 2.5rem;
    }
}



